<div class="row">
  <div class="col-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% object.each do | friend | %>
          <tr>
            <td><%= friend.first_name %></td>
            <td><%= friend.last_name %></td>
            <td><%= friend.email %></td>
            <td>
              <%= link_to 'View profile', user_path(friend), class: 'btn btn-sm btn-success' %>
              <% if local_assigns[:show_unfollow] %>
                <%= link_to 'Unfollow', friendship_path(friend), method: :delete, class: 'btn btn-sm btn-warning', data: {confirm: 'Are you sure?'} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>