<% if @tracked_stocks.any? %>
    <div class="row">
      <div class="col-9">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Ticker</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Last update</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          <% tracked_stocks.each do | stock | %>
              <tr>
                <td><%= stock.ticker %></td>
                <td><%= stock.name %></td>
                <td><%= stock.last_price %></td>
                <td><%=time_ago_in_words(stock.updated_at)%> ago</td>
                <td>
                  <% if current_user.id == user.id %>
                    <%= link_to 'Update', update_price_path(id: stock.id), class: 'btn btn-sm btn-success', method: :post, remote: true %>
                    <%= link_to 'Remove', user_stock_path(stock), method: :delete, class: 'btn btn-sm btn-warning', data: {confirm: 'Are you sure?'} %>
                  <% elsif current_user.can_track_stock?(stock.ticker) %>
                    <%= link_to 'Add to my portfolio', user_stocks_path(user: user, ticker: stock.ticker), class: 'btn btn-success', method: :post %>
                  <% else %>
                    <span class="badge badge-secondary">
                      You are already tracking
                      <% if !user.under_stock_limit? %>
                        10 stocks
                      <% elsif user.stock_already_tracked?(stock.ticker) %>
                        this stock
                      <% end%>
                    </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <p class= 'lead'>No tracked stocks yet</p>
  <% end %>