<h1>Most active stocks in IEX Finance</h1>

<% if @most_active_stocks.any? %>
  <div class="row">
    <div class="col-9">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Company Name</th>
            <th scope="col">Latest price</th>
            <th scope="col">Latest update</th>
          </tr>
        </thead>
        <tbody>
        <% @most_active_stocks.each do | stock | %>
            <tr>
              <td><%= stock.symbol %></td>
              <td><%= stock.company_name %></td>
              <td><%= stock.latest_price %></td>
              <td><%= stock.latest_time  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>