<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if friend_matches.any? %>
  <div class="card card-header results-block">
    <table class='table-sm col-md-12'>
      <tbody>
        <% friend_matches.each do | friend | %>
          <tr>
            <td><strong>Full Name: </strong> <%= friend.full_name %></td>
            <td><strong>Email: </strong> <%= friend.email %></td>
            <td><%= link_to 'View Profile', user_path(friend), class: 'btn btn-sm btn-primary' %></td>
            <% if current_user.following?(friend) %>
              <td><span class="badge badge-secondary">
                This user is already followed
              </span></td>
            <% else %>
              <td><%= link_to 'Folllow friend', friendships_path(friend: friend), class: 'btn btn-sm btn-success', method: :post %></td>
            <% end %>
          </tr>
        <% end %>
      <tbody>
    </table>
  </div>
<% end %>