<h1>User Details</h1>


<div class="card card-header results-block">
  <table class='table-sm col-md-12'>
    <tbody>
      <tr>
        <td><strong>Full Name: </strong> <%= @user.full_name %></td>
        <td><strong>Email: </strong> <%= @user.email %></td>
        <% if current_user.following?(@user) %>
          <td><span class="badge badge-secondary">
            This user is already followed
          </span></td>
        <% else %>
          <td><%= link_to 'Folllow friend', friendships_path(friend: @user), class: 'btn btn-sm btn-success', method: :post %></td>
        <% end %>
      </tr>
    <tbody>
  </table>
</div>

<h3>Stocks tracked by <%= @user.full_name %></h3>
<div id="user-stocks">
  <%= render 'stocks/list', tracked_stocks: @tracked_stocks, user: @user%>
</div>
