<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Welcome </h1>
    <p class="lead">Finance Tracker allows you track easily your favorite stocks from famous institutions.</p>
    <hr class="my-4">
    <p>Also as a social media you and your friends can share the portfolio and always keep up to date.</p>
  </div>
</div>