@import 'bootstrap/dist/css/bootstrap';

#home-container {
  margin-top: 28px;
}

.jumbotron {
  background-image: asset-url('finance.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  h1, p {
    text-shadow: black 0.3em 0.3em 0.3em;
  }
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.logout-button {
  margin-right: 5px;
}

.user-name {
  margin-top: 1.5%;
  padding-right: 5px;
}